/* ****************************************GOOGLE FONTS********************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap');

/* *****************************************FONTS CLASS********************************** */

.text-poppins-400,
.text-poppins-600 {
    font-family: 'Poppins', sans-serif;
}

.text-poppins-400 {
    font-weight: 400;
}

.text-poppins-600 {
    font-weight: 600;
}

.text-roboto-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* *********************************custom button design ******************************* */
.button {
    text-decoration: none;
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.button:hover {
    color: #289BDE;
    border: 1px solid #289BDE;
    background-color: white;
}

/* ***************************************COLOR******************************** */

.primary-bg-color {
    background-color: #289BDE;
}

.secondary-bg-color {
    background-color: #F4FAFD;
}

.primary-color {
    color: #289BDE;
}

.secondary-color {
    color: #777777;
}

/* ******************************************header part**************************** */

header .carousel .carousel-item img {
    min-height: 100vh;
    object-fit: cover;

}

header .carousel-caption {
    top: 30%;
}

header .carousel-control-prev i,
header .carousel-control-next i {
    font-size: 1.5em;
    color: white;
}

/* *********************************************main part*************************** */
.register-section {
    min-height: 220px;
}

.company img {
    width: 10%;
    height: 5%;
}

.modal-body img {
    width: 10%;
}

/* *********************************************footer part**************************** */
footer {
    min-height: 350px;
}

/* ********************************************media query**************************** */
@media screen and (max-width:567px) {
    .carousel-caption p {
        font-size: 0.6em;
    }
}