/* ****************************************GOOGLE FONTS********************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap');

/* *****************************************FONTS CLASS********************************** */

body {
    font-family: 'Poppins', sans-serif;
}

/* *********************************custom button design ******************************* */
.button {
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.button:hover {
    color: #289BDE;
    border: 1px solid #289BDE;
    background-color: white;
}

/* ***************************************COLOR******************************** */
.primary-bg-color {
    background-color: #289BDE;
}

.secondary-bg-color {
    background-color: #F4FAFD;
}

/* ******************************************header part**************************** */

header .carousel .carousel-item img {
    object-fit: cover;
}

header .carousel-caption {
    top: 30%;
}

/* *********************************************main part*************************** */
.register-section {
    min-height: 220px;
}

.company img {
    width: 10%;
    height: 5%;
}

.modal-body img {
    width: 10%;
}

/* *********************************************footer part**************************** */
footer {
    min-height: 350px;
}

/* ********************************************media query**************************** */
@media screen and (max-width:767px) {
    .carousel-caption p {
        font-size: 0.6em;
    }
}